<div class="container">
     <div class="card">
          <div class="card-header">
               Edit event
          </div>
          <div class="card-body">
               <form #af="ngForm" (ngSubmit)="editEvent(af)">
                    <div class="form-group">
                         <input type="text" class="form-control" placeholder="Event's Name" name="title" [(ngModel)]="event.title" #title="ngModel" required>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="title.invalid && title.touched">
                         Insert a title to the event.
                    </div>
                    <div class="form-group">
                         <input type="text" class="form-control" placeholder="Event's Local" name="local" [(ngModel)]="event.local" #local="ngModel" required>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="local.invalid && local.touched">
                         Insert a local to the event.
                    </div>
                    <div class="form-group">
                         <label>Start</label>
                         <input type="datetime-local" class="form-control" placeholder="DD/MM/YYYY hh:mm" name="startDate" [(ngModel)]="event.startDate" required #startDate="ngModel"/>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="startDate.invalid && startDate.touched">
                         Insert the start date.
                    </div>
                    <div class="form-group">
                         <label>Finish</label>
                         <input type="datetime-local" class="form-control" placeholder="DD/MM/YYYY hh:mm" name="finishDate" [(ngModel)]="event.finishDate" required #finishDate="ngModel"/>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="finishDate.invalid && finishDate.touched">
                         Insert the finish date.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="lt(finishDate, startDate)">
                         An event does not travel to the past.
                    </div>
                    <div class="form-group">
                         <label>Description:</label>
                         <textarea class="form-control" rows="5" name="desc" [(ngModel)]="event.desc" #desc="ngModel"></textarea>
                    </div>
                    <div class="form-group">
                         <button type="submit" class="btn btn-primary" [disabled]="af.invalid || lt(finishDate, startDate)">Edit</button>
                    </div>
               </form>
               <button type="submit" class="btn btn btn-outline-danger waves-effect" (click)="deleteEvent(this.id)">Cancel Event</button>
          </div>
     </div>
</div>
